<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title><%- app.siteTitle %></title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
</head>
<body>
<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <ul class="menu"><li class="menu-text"><%- app.siteTitle %></li></ul>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="menu">
      <% app.nav.left.forEach((l) => { %>
        <li><a href="<%- l.path %>"><%- l.text %></a></li>
      <% }) %>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="menu">
      <% app.nav.right.forEach((l) => { %>
        <li><a href="<%- l.path %>"><%- l.text %></a></li>
      <% }) %>
      </ul>
    </div>
  </div>
</div>

<div class="row column">
