extends layout

block content
  div.row.centered
    div.column.medium-4
      span Contributions in the last year
      span.stat= `${data.commits} total`
      span May 11, 2015 – May 11, 2016

    div.column.medium-4
      span Longest streak
      span.stat= `${data.streaks[0].commits.length} days`
      span March 30 – May 11

    div.column.medium-4
      span Current streak
      span.stat= `${data.streaks[0].commits.length} days`
      span March 30 – May 11

  if elapsed
    div.row.column
      p= `Updated ${elapsed} hours ago.`

      pre= JSON.stringify(data.streaks[0].commits, null, ' ')
