<%- include('partials/doctype') %>
<body>
<h1><%= app.siteTitle %></h1>
<% if (typeof load === 'object') { %>
<h2>load</h2>
<pre>
<%= JSON.stringify(load, null, ' ') %>
</pre>
<% } %>

<% if (typeof params === 'object' && Object.keys(params).length) { %>
<h2>params</h2>
<pre>
<%= JSON.stringify(params, null, ' ') %>
</pre>
<% } %>

<% if (typeof credentials === 'object' && Object.keys(credentials).length) { %>
<h2>credentials</h2>
<pre>
<%= JSON.stringify(credentials, null, ' ') %>
</pre>
<% } %>

<footer>
<%- include('partials/nav') %>
</footer>
</body>
</html>
