<%- include('partials/doctype') %>
<body>
<h1><%= app.siteTitle %></h1>

<% if (typeof credentials === 'object' && credentials && Object.keys(credentials).length) { %>
<h2>credentials</h2>
<pre>
<%= JSON.stringify(credentials, null, ' ') %>
</pre>
<% } else { %>
<p><a href="/auth/github">Login github</a></p>
<% } %>

<% if (typeof load === 'object') { %>
<h2>load <small><a href="/load/json">JSON</a></small></h2>
<pre>
<%= JSON.stringify(load, null, ' ') %>
</pre>
<% } %>

<% if (typeof params === 'object' && params && Object.keys(params).length) { %>
<h2>params</h2>
<pre>
<%= JSON.stringify(params, null, ' ') %>
</pre>
<% } %>

<footer>
<%- include('partials/nav') %>
</footer>
</body>
</html>
