<%- include('partials/doctype') %>
<div class="row column">

<% if (credentials && credentials.username) { %>
<p>Voir <a href="/me">votre profile</a> (<%= credentials.username%>).</p>

<% } else { %>
<p><a href="/login/github/callback">Login avec Github</a></p>
<% } %>

<% if (typeof load === 'object') { %>
<h2>load <small><a href="/load/json">JSON</a></small></h2>
<pre>
<%= JSON.stringify(load, null, ' ') %>
</pre>
<% } %>

<% if (typeof params === 'object' && params && Object.keys(params).length) { %>
<h2>params</h2>
<pre>
<%= JSON.stringify(params, null, ' ') %>
</pre>
<% } %>

</div>

<%- include('partials/bottom') %>
