extends layout

block content
  h2: a(href='/profile')= user.username

  //- pre= JSON.stringify(data, null, ' ')

  p= `${data.commits} commits took ${data.commitDays} days, counting the last ${data.days} days.`

  h3 Streaks
  ol
    each x in data.streaks
      li= `${x.commits.reduce((p, c) => p + c)} commits in ${x.commits.length} days starting ${x.begin}.`
