<%- include('partials/doctype') %>
<div class="row column">

<h1><%= user.name %></h1>
<p class="lead">Voir le profil <a href="https://github.com/<%= user.name %>"><%= user.name %> chez Github</a>.</p>
<% if (me) { %>
<p>Hello, <a href="/user/<%- user.name%>"><%= user.name %></a>!</p>
<% } %>

<% if (user && user.raw) { %>
<% if (credentials && typeof credentials === 'object' && credentials.username && user.name && user.name === credentials.username) { %>
<p><a href="/user/<%= user.name %>">Streaks</a></p>
<% } %>
<h2>user</h2>
<pre>
<%= JSON.stringify(user, null, ' ') %>
</pre>
<% } else if (user && credentials && typeof credentials === 'object' && credentials.username && user.name && user.name === credentials.username) { %>
<p><a href="/user/<%= user.name %>/full">Full</a></p>
<% } %>
<% if (streaks) {
  const gg = streaks.find((el) => el.current && el.commits.length > 1)
  if (gg) { %>
    <h2><a href="#current"><small>Streak de</small> <%= gg.commits.length %> jours <small>en cours!</small></a></h2>
  <% } %>
<h2>Streaks</h2>
<% streaks.forEach((streak) => {
  if (streak.commits.length < 2) { return }
  const commits = streak.commits.reduce((p, c) => p + c) %>
  <div <%- streak.current ? 'id="current"' : '' %> class="row callout<%= streak.current ? ' current success' : '' %>">
    <div class="column small-4">
      <h3>
        <a href="/day/<%= streak.begin.replace(/-/g, '/') %>">
        <%= streak.begin %>
        </a>
        <% if (streak.current) { %>
          <small>*</small>
        <% } %>
      </h3>
    </div>
    <div class="column small-2">
      <span class="stat"><%= streak.commits.length %></span> jours
    </div>
    <div class="column small-3">
      <span class="stat"><%= commits %></span> commits
    </div>
    <div class="column small-3">
      <span class="stat"><%= Math.round(10 * commits / streak.commits.length) / 10 %></span> commits/jour
    </div>
  </div>
<% }) %>
<% } %>

<!--
<h2>credentials</h2>
<pre>
<%= JSON.stringify(credentials, null, ' ') %>
</pre>
-->
</div>
<%- include('partials/bottom') %>

