<%- include('partials/doctype') %>
<body>
<h1><%= app.siteTitle %></h1>

<% if (user.name && user.name === credentials.name) { %>
<form method="post" action="/user/<%= credentials.name %>/refresh">
<input type="submit">
</form>
<% } %>

<h2>user</h2>
<pre>
<%= JSON.stringify(user, null, ' ') %>
</pre>

<h2>credentials</h2>
<pre>
<%= JSON.stringify(credentials, null, ' ') %>
</pre>

<footer>
<%- include('partials/nav') %>
</footer>
</body>
</html>
